apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: javajava-java-sample-7okp
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: javajava-java-sample-7okp
    app.kubernetes.io/part-of: e2e-java
  name: javajava-java-sample-7okp
  namespace: e2e-demos-nbot-tenant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-springboot-app
      app.kubernetes.io/instance: javajava-java-sample-7okp
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-springboot-app
        app.kubernetes.io/instance: javajava-java-sample-7okp
    spec:
      containers:
      - image: quay.io/psturc/test-images-protected:4ohzb-javajava-java-sample-7okp
        name: my-java-springboot
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 300Mi
          requests:
            cpu: 10m
            memory: 180Mi
status: {}
